/* *{
    box-sizing: border-box;
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  
}

a{
  text-decoration: none!important;
}
.rlhp-bcg{
  background-color: #d5d5d5;
}

.montserrat-medium{
    font-family: "Montserrat-Medium", sans-serif;
}

section{
  position: relative;
  width: 100%;
  height: 600px;
  

}

.wraper{
    position: relative;                   
    width: 100%;
    height: 330px;
    /* background: #d5d5d5; */
    display: flex;
    background: url("images/migrant-worker-img.jpg") no-repeat;
    
  }
  
  .left{
    width: calc( 50% - 40px) ;
    height: 100%;
    background: #cbcbcb;
  }
  
  .right{
    width: calc( 50% + 40px);
    height: 100%;
    box-sizing: border-box;
    border-left: 80px solid #cbcbcb;
    border-bottom: 330px solid transparent;
    float: right;
    
    
  }
  
  .content{
    color: #000;
    font-size: 15px;
    padding: 30px;
  }

/*
  .HalfBlock.blue, .HalfBlock.blue .halfText, .HalfBlock.blue .halfText:after {
    background: #0079ba;
}

.HalfBlock {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 1px 3px 12px rgba(0,0,0,.2);
}


.HalfBlock.left .halfText {
    left: auto;
    right: 0;
}



.HalfBlock .halfText {
    width: 44%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.HalfBlock .halfText {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  color: #fff;
  padding: 40px;
}


.HalfBlock.left .halfImage {
    float: left;
}



.HalfBlock .halfImage {
    position: relative;
    float: right;
    width: 56%;
    min-width: 600px;
}


.HalfBlock .halfImage {
  display: block;
  width: 100%;
  height: auto;
}
*/
.rlhp-green{
    color: #8BAF42;
}
.rlhp-blue{
  color: #0094ab;
}
.rlhp-pink{
  color: #da3054;
}
.rlhp-gray{
  color: #d5d5d5;
}
.rlhp-bcg-green{
  background-color: #80a23a;
}
.halfbox-donate-btn-height{
  height: 100%;
}
.rlhp-white{
  color: #fff;
}

.rlhp-btn {
  background: #f95951;
  padding: 8px 24px !important;
  text-align: center;
  color: #fff!important;
  
  border-radius: 50px;
  font-size: 13px;
  letter-spacing: 0.4px;
}
.contact-btn {
  border: 1px solid #f95951;
  padding: 8px 16px !important;
  text-align: center;
  color: #fff!important;
  
  border-radius: 50px;
  font-size: 13px;
  letter-spacing: 0.4px;
}

/* --------------------- Events ----------------*/

.event-banner{
  background: url('images/event-bcg-img.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.event-box{
  max-width: 1366px;
  margin: 0px auto;
  /* height: 345px; */
}

/* .event-box-height{
  height: 345px;
} */

.child-labor, .state-seminar{
  
  background-color: #80a23a;
}

.campaign-circle{
  background-image: url(images/Ellipse.svg);
  background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  
}

/* .child-labor:after{
  position: absolute;
  width: 50px;
  height: 50px;
  border-top: 0px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 0px solid #ffffff;
  top:100%;
  left: 50%;
  margin-left: -25px;
  content: '';
  transform: rotate(45deg);
  margin-top: -25px;
  background: #80a23a;
}  */
.child-helpline{
  
  background-color: #da3054;;
}
.womens-day{
  
  background-color: #0094ab;
}

.halfbox-pad{
  padding: 55px;
}

/* --- Donation page ---- */

.donate-btn {
  background: #fff!important;
  padding: 8px 24px !important;
  text-align: center;
  color: #80a23a!important;
  box-shadow: 0 0 50px #eee;
  border-radius: 17px;
  font-size: 15px;
  letter-spacing: 0.4px;
  
}

.donate-btn a:hover{
  color: #80a23a!important;
}


.national-btn{
  background: #80a23a!important;
  padding: 8px 24px !important;
  text-align: center;
  color: #fff!important;
  box-shadow: 0 0 50px #eee;
  border-radius: 17px;
  font-size: 15px;
  letter-spacing: 0.4px;
}
.halfbox-donate-btn{
  background: #80a23a!important;
  padding: 8px 24px !important;
  text-align: center;
  color: #fff!important;
  border :1px solid #fff;
  border-radius: 50px;
  font-size: 15px;
  letter-spacing: 0.4px;
}
.vl {
  border-left: 2px solid #80a23a;
  height: 50px;
  margin-left: 50%;
}
.vll {
  border-left: 2px solid #80a23a;
  height: 25px;
  margin-left: 50%;
}

.donation-button{
  width: 75%;
  margin: 0 auto;
}
.donate-bcg{
 background-color: #f9f8f8;

}
/* .header-donate-btn{
  float: right;
} */


/* ------------------ Homepage ------------- */



@media only screen and (min-width: 767px) {
  .banner-text{
    padding-top: 100px;
  } 
 
}

@media only screen and (max-width: 1024px) {
 
  .homepage-banner-slider{
    max-width: 1200px;
  }
}
/*
@media only screen and (max-width: 454px) {
.green-banner-1-sec, .green-banner-2-sec, .green-banner-3-sec, .green-banner-4-sec{height:350px; overflow:hidden; }
}

.slider-area .slick-slide a{text-decoration: none;}
.slider-card-image img{
     height: 450px;
    object-fit: cover;
}

.slider-area .slick-dots li button:before {color: #fff;}

@media only screen and (min-width: 768px) {
.slider-area .slick-list.draggable{padding: 0px 120px !important;}
}

.slick-slide img{
width: 100%;
}
.slider-area .slick-prev{left:50px; z-index: 999;}
.slider-area .slick-next{right:65px;}
.slider-area .slick-prev:before,
.slider-area .slick-next:before {
color: #fff!important ;
font-size: 35px;
opacity: 1;
width: 100%;
}
.slick-slide {
transition: all ease-in-out 0.3s;
opacity: 0.5; 
}
.slick-active{
opacity: 0.5;
}
.slick-current{
opacity: 1; 
}

.kanha-img-bcg{background: #fafafa;}
.slider-area .slick-current.slick-active.slick-center {
    -webkit-transform: scale(1.00);
    transform: scale(1.00);
}
.slider-area .slick-slide{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

button.slick-arrow:hover, button.slick-arrow:focus {
    background: none!important;
    border: none!important;
}
.slick-prev button:active, .slick-next button:active  {
 background: none!important;
}
*/

/* -------------- Footer-------------------- */

.rlhp-footer-menucol{margin:30px 40px 0px;}
.hfn-social-info{margin:30px 15px 0px;}
.rlhp-footer-menucol *{color:#ccc;}
.footer-coltitle{padding: 10px 0px; margin-bottom: 20px; font-size: 20px; color: #fff;}
.rlhp-footer-menucol a:hover, .rlhp-footer-menucol a:focus{color:#fff; text-decoration: none;}
.rlhp-footer-menucol p{margin-bottom: 15px; font-size: 15px;}

#footer{ background: #80a23a; padding-top: 5px; }
.footer .hfn-social-info .widget-info{color: #ccc;}
.footer .hfn-social-info .soc-ico{padding-top:10px;}
.footer .hfn-social-info .soc-ico .assistive-text{display:none;}
.footer .hfn-social-info .soc-ico a{color:#fff; text-decoration:none; margin: 5px 10px;}
.footer #bottom-bar{border-top: 1px solid #eee; margin: 30px 15px 0px; display: grid;}
.footer #bottom-bar .text-left{float: left; color: #ccc; font-size: 13px; padding: 12px 0px; line-height: 1.6;}
.footer #bottom-bar .text-right{ float: right; }
.footer #bottom-bar .text-right ul#bottom-menu{display: flex; padding: 6px 0px; list-style: none; float: right; margin:0px;}
.footer #bottom-bar .text-right ul#bottom-menu a{ font-size: 13px;  color: #ccc;  margin: 0px 10px; text-decoration:none; }

@media (max-width: 767px){
  .rlhp-footer-menucol{margin:30px 20px 0px;}
  .footer #bottom-bar .text-left{  text-align: center!important; float: none; }
  .footer #bottom-bar .text-right{ width: 100%; float: none; text-align: center!important; }
  .footer #bottom-bar .text-right ul#bottom-menu{ display: inline-flex; text-align: center; float: none; }
  .essayevent-headerbar .navbar-nav li.nav-item { margin: 0px 5px; }
  .rules-iconline .iconimg .linedot:before { content: ""; width: 72%; }
  .essayevent-topic-sec:after{ right: 80px; }
  
  .rules-tab .nav-tabs{display: none;}
  .rules-tab .rules-content .tab-pane .mbtitle {display: block;}
  .rules-tab .rules-content .tab-pane{display: block; opacity: 1;}
  .essayevent-headerbar .navbar { padding: 12px 15px; }
  
  }




  /* ---------------------- Homepage ---------------- */

  .banner1{
    background: url('images/homepage-banner-1-img.png');
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    
  }
  .banner2{
    background: url('images/homepage-banner-2-img.png');
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    
  }
  .banner3{
    background: url('images/homepage-banner-3-img.png');
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    
  }

  .slick-dots{
    bottom: 10px!important;
  }
  
  .child-bcg{
    background-color: #0094ab;
    display: inline-block;
    border-radius: 50%;
    padding: 50px;
  }
  .circle-blue{
    border: 1px solid #0094ab;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
  }

  .vlb {
    border-left: 1px solid #0094ab;
    height: 25px;
    margin-left: 50%;
  }
  .hlb {
    border-bottom: 2px solid #0094ab;
    width: 35%;
    margin: 0 auto;
  }
  .women-bcg{
    background-color: #da3054;
    display: inline-block;
    border-radius: 50%;
    padding: 50px;
  }
  .circle-pink{
    border: 1px solid #da3054;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
  }
  .vlp {
    border-left: 1px solid #da3054;
    height: 25px;
    margin-left: 50%;
  }
  .hlp {
    border-bottom: 2px solid #da3054;
    width: 35%;
    margin: 0 auto;
  }
  .families-bcg{
    background-color: #80a23a;
    display: inline-block;
    border-radius: 50%;
    padding: 50px;
  }
  .circle-green{
    border: 1px solid #80a23a;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
  }
  .vlg {
    border-left: 1px solid #80a23a;
    height: 25px;
    margin-left: 50%;
  }
  .hlg {
    border-bottom: 2px solid #80a23a;
    width: 35%;
    margin: 0 auto;
  }

  .hlgr {
    border-bottom: 2px solid #d5d5d5;
    width: 35%;
    margin: 0 auto;
  }

  .three-img{
    position: relative;
  }
  .three-img img{
    display: block;
    height: auto;
  }

  .three-img-des{
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #fff;
    background-color: #555;
    opacity: 0.64;
    padding: 10px 24px;
  }
  .feedback-bcg{
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.07);
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 0px 0px 15px;
    background-color: #fff;
}
/* .feedback-text{
  padding: 50px;
} */
 

 .feedback-color{
  color: #174457;
 }

  .home-btn-bottom{
    background-color: #cbcbcb;
    
  padding: 8px 24px !important;
  text-align: center;
  color: #80a23a!important;
  border-radius: 15px;
  font-size: 13px;
  letter-spacing: 0.4px;
   box-shadow: 0 0 50px #eee;

  }

  .slick-dotted.slick-slider{
    margin-bottom: 0px;
  }